In [12]:
# Dependencies and Setup
import pandas as pd
import os
import datetime

In [13]:
# Load cities.csv into data-frame:
csvpath = os.path.join("Resources","cities.csv")
table_df = pd.read_csv(csvpath)

table_df = table_df.drop("Unnamed: 0", axis="columns")
table_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Verkh-Chebula,56.0308,87.6218,40.64,85,85,8.46,RU,1619654478
1,Nanortalik,60.1432,-45.2371,35.40,93,78,4.45,GL,1619654230
2,Cabo San Lucas,22.8909,-109.9124,75.00,68,40,10.36,MX,1619654217
3,Saraipali,21.3333,83.0000,81.57,11,63,2.82,IN,1619654479
4,Te Anau,-45.4167,167.7167,53.10,90,100,5.93,NZ,1619654479

In [21]:
# Export data frame to HTML:
# table_html = table_df.to_html
# table_html

table_df.to_html('table_df.html',border=0)